.container {
	width: 840; 
	margin: 25px;
	padding: 0;
	
}
.picture {
	text-align: center;
}

.resize {
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;
	border-radius: 50%;
	max-width: 50%;
	height: auto;
	
}
img {
	max-width: 50%;
	height: auto;
}